<div class="blurb-module flexbox-container">
  <div class="blurb-content">

    <p class="blurb">Inspiring Locations and Beautiful Objects</p>
    <p class="blurb-attrib">The word “Scandinavia” evokes many images. Endless fir forests, awe-inspiring fjords, wilderness, and lately, perhaps, crime fiction and noir thrillers such as Borgen, Wallander and The Killing. It’s all these things, of course, but this hardly does justice to the region’s vastness and diversity. To the North is the Arctic Circle, where polar bears roam, the summer sun lasts 24 hours, but an implacable dark descends in a winter lit, if you’re lucky, by cosmic northern lights. Although not in Scandinavia, Finland, where Russia's cultural orbit is felt, also has a Nordic feel with vast expanses of lake and forest inhabited by wild bears stretch beyond sight. Nomadic reindeer herders range from mountain to forest and the naked sauna is a national pastime. (http://www.telegraph.co.uk/travel/destinations/europe/scandinavia/articles/scandinavia-travelguide/)</p>

    </div>

  </div>


  <style type="text/css" media="screen">
    div.blurb-module {
      min-height:25vh;
      width: 95%;
      margin: 2.5% auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }


    div.blurb-module .blurb-content .blurb {
      font-family: "GT-Walsheim";
      font-size: 2em;
    }

    div.blurb-content {
      width: 60%;
      text-align: center;
    }

    p.blurb-attrib {
      font-family: "ActaDeck-Book";

    }
  </style>