<div class="contact-module flexbox-container " ng-show="!userEmail">
  <div class="contact-content" >
    <form name="userForm" ng-hide="userForm.$submitted">
      <p class="contact-input">Stay in the loop</p>
      <p class="acta">Join our mailing list and be notified about news and updates.</p>
      <div class="form-group flexbox-container" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="Email Address">
        <button ng-click="submitForm(user)" class="contact-submit" ng-disabled="userForm.$invalid">Sign Up</button>
      </div>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </form>
  </div>

  <div class="thank-you" ng-hide="!userForm.$submitted">
    <p>Thanks for signing up!</p>
  </div>

</div>


<style type="text/css" media="screen">
  div.contact-module {
    height:25vh;
    width: 95%;
    margin: 2.5% auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  div.contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

  }
  p.contact-input {
    font-family: "GT-Walsheim";
    font-size: 2em;

  }

  .contact-content button {
    display:block;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: black;
    color:white;
    border: none;
    height:35px;
    width: 100px;
    font-size: 1em;
    font-family: "GT-Walsheim";
  }

  p.acta {

    font-family: "ActaDeck-Book";
  }

  input.form-control {
    border-radius: unset;
    margin-right: 1em;
    height:35px;
    font-family: "GT-Walsheim";
  }

  .contact-module .form-group {
    flex-direction:row;
  }
</style>