<div class="featured-module">
  <a href ="/things/thing/3"><h2>The Lense Box</h2></a>
  <h4>Found at Hay House</h4>
  <a href="/places/place/1"><img src="assets/stamps/Stamp_Copenhagen.png" alt="" id="featured-stamp"></a>

</div>

<style type="text/css" media="screen">
  div.featured-module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(assets/featured_images/Feature_LensBoxes.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  div.featured-module h2{
    margin-top: -10vh;
    font-family: "GT-Walsheim";
  }

  div.featured-module h4 {
    font-family: "ActaDeck-Book";
  }

  div.featured-module h2 {
    margin:0;
  }

  img#featured-stamp {
    margin-left: -20vw;
    margin-top: -20vh;
    position: absolute;

  }

</style>