<div class="contact-module flexbox-container " ng-show="!userEmail">
<div class="contact-content" >
  <form name="userForm" ng-hide="userForm.$submitted">
  <p class="contact-input">Stay in the loop</p>
  <p>Join our mailing list and be notified about news and updates.</p>
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>
    <button ng-click="submitForm(user)" class="btn btn-primary" ng-disabled="userForm.$invalid">Save</button>
</form>
</div>

<div class="thank-you" ng-hide="!userForm.$submitted">
  <p>Thanks for signing up!</p>
</div>
  
</div>


<style type="text/css" media="screen">
  div.contact-module {
    height:25vh;
    width: 95%;
    margin: 2.5% auto;
    /*background-color: #ebebewhib;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  /*div.quote-module .quote-content .quote {
    font-family: "ActaDeck-Book-Italic";
    font-size: 2em;
  }

  div.quote-content {
    width: 40%;
    text-align: center;
  }

  p.quote-attrib {
    font-family: "GT-Walsheim";
  }*/
</style>