<footer class="footer">
  <div class="footer-content flexbox-container">
    <div class="footer-left flexbox-container"> <a href="mailto:hello@jasonpaulsouthwell.com?subject=feedback" "email me">Contact</a></div>
    <div class="footer-center flexbox-container">
      <a href="/home"><img ng-src="assets/PlacesThings_Logo.png" alt="" class="img-responsive"></a>
    </div>
    <div class="footer-right flexbox-container"><a href="/home">&copy; 2016 Places & Things</a></div>
  </div>

</footer>

<style type="text/css" media="screen">
  .footer {
    margin-top: 3vh;
    height: 10vh;
    background-color: black;
    color:white;
  }

  .footer-content {
    width: 95%;
    margin: 0 auto;

    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

    -ms-flex-direction: row;

    flex-direction: row;
  }

  .footer-content div {
    width:33.4%;

    height: 9.9vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .footer-content h5 {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .footer-left {

  }
  .footer-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer a {
    color: white;
    text-decoration: none;
  }

  .footer img {
    height:4vh;
  }
</style>