<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <div class="flex">
  <ol class="carousel-indicators right-side">

    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>

  </ol>
</div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="mask">
      <img src="https://www.nordicvisitor.com/images/sweden/stockholm-sweden-winter.jpg" alt="...">
      <div class="carousel-caption">
      <div class="full-width"><h1>Stockholm, Sweden</h1><h5>Sweden in the Winter</h5></div>
        
      </div>
    </div>
    <div class="item">
      <img src="https://blog.hostelite.com/wp-content/uploads/2014/11/Helsinki4.jpg" alt="...">
      <div class="carousel-caption">
       <div class="full-width"><h1>Helsinki, Finland</h1><h5>Sibelius Monument</h5></div>
      </div>
    </div>
    <div class="item">
      <img src="http://kingofwallpapers.com/copenhagen/copenhagen-013.jpg" alt="...">
      <div class="carousel-caption">
      <div class="full-width"><h1>Copenhagen, Denmark</h1><h5>Nyhavn Waterfront</h5></div>
      </div>
    </div>
    
  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>


<style type="text/css" media="screen">


  .carousel {
    height: 100vh;
  }
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.right-side {
  margin-left: auto;
}
.right-side li {
  margin: 0 5px;
  background-color: transparent;
  border-color: white;
}
.right-side li.active {
  margin: 0 5px;
  background-color: white;
}

.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /*border: 1px solid black;*/
}
.full-width {
  width: 100%;
 /* background-color: rgba(255, 255, 255, 0.4);*/
}
.carousel-caption .full-width {
  color:black;
  text-shadow: none;
  font-family: "GT-Walsheim-Light"
}

.carousel-caption .full-width h1 {
  font-size: 4em;
}

.carousel-indicators.right-side {
  width: auto;
  left: unset;
  right:3vw;
}
ol.carousel-indicators.right-side {
  margin:0 auto;
}
.carousel.carousel-fade .item {
    transition: background .5s ease-in-out;
}




</style>

<script type="text/javascript">


  $(document).ready(function(){
    

  $('.carousel').carousel({  interval: 10000,
  pause: false});
  var $item = $('.carousel .item'); 
  var $wHeight = $(window).height();
  $item.eq(0).addClass('active');
  $item.height($wHeight); 
  $item.addClass('full-screen');
  $('.carousel-caption').css("margin-top", $('.navbar').height());
  });

$('.carousel img').each(function() {
  var $src = $(this).attr('src');
  $(this).parent().css({
    'background-image' : 'url(' + $src + ')',
  });
  $(this).remove();
});

$(window).on('resize', function (){
  $wHeight = $(window).height();
  $item.height($wHeight);
});



</script>

