<div ui-view class="home">
  <div ng-include="'home/_hero.html'"></div>
  <div ng-include="'home/_blurb-module.html'"></div>
  <div ng-include="'home/_featured-module.html'"></div>
  <div ng-include="'home/_quote-module.html'"></div>
</div>

<style type="text/css" media="screen">
  footer.footer.ng-scope {
    margin-top: 0;
  }
</style>
