<div ui-view class="home">
  <div ng-include="'home/hero.html'"></div>
  <div ng-include="'home/quote-module.html'"></div>
  <div ng-include="'home/contact-module.html'"></div>
</div>

<style type="text/css" media="screen">
  footer.footer.ng-scope {
    margin-top: 0;
  }
</style>
