<div class="quote-module flexbox-container">
<div class="quote-content">

  <p class="quote">“To awaken alone in a strange town is one of the pleasantest sensations in the world."</p>
  <p class="quote-attrib">&mdash;Freya Stark</p>

</div>
  
</div>


<style type="text/css" media="screen">
  div.quote-module {
    height:25vh;
    width: 95%;
    margin: 2.5% auto;
    background-color: #ebebeb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  div.quote-module .quote-content .quote {
    font-family: "ActaDeck-Book-Italic";
    font-size: 2em;
  }

  div.quote-content {
    width: 40%;
    text-align: center;
  }

  p.quote-attrib {
    font-family: "GT-Walsheim";
  }
</style>