<div class="quote-module flexbox-container">
  <div class="quote-content">

    <p class="quote">{{quote.quote}}</p>
    <p class="quote-attrib">{{quote.attribution}}</p>

  </div>

</div>


<style type="text/css" media="screen">
  div.quote-module {
    height:25vh;
    width: 95%;
    margin: 2.5% auto;
    background-color: #ebebeb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }


  div.quote-module .quote-content .quote {
    font-family: "ActaDeck-Book-Italic";
    font-size: 2em;
  }

  div.quote-content {
    width: 40%;
    text-align: center;
  }

  p.quote-attrib {
    font-family: "GT-Walsheim";
  }
</style>