<table>
  <caption>Your Cart:</caption>
  <thead>
    <tr>
      <th>ID:</th>
      <th></th>
      <th>Name:</th>
      <th>Price:</th>
      <th>Quantity:</th>
      <th></th>
      <th>Options:</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in current_cart | orderBy : 'product_id'">
      <td>{{product.product_id}}</td>
      <td></td> 
      <td>{{product.name}}</td> 
      <td>{{product.price | currency}}</td>
      <td></td>
      <td>{{product.quantity}}</td>
      <td change-quantity></td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td> 
      <td>{{totalPrice | currency}}</td>
      <td></td>
      <td>{{totalItems}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
