<td>
        <a href ng-click="changeItemQuantity(product,'up')">+</a>
        <a href ng-click="changeItemQuantity(product,'down')">-</a>
        <a href ng-click="changeItemQuantity(product,'remove')">x</a>
</td>