<div class="container ui-view main">
<div class="content cart" ng-show="current_cart.length > 0">
    <h5>Shopping Cart</h5>
    <div class="row headers">
      <div class="col-sm-2">Item</div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2 centered"><span class="left">Quantity</span></div>
      <div class="col-sm-1 centered">Price</div>
      <div class="col-sm-1"></div>
    </div>
    <div>
      <div class="row product flexbox-container" ng-repeat="product in current_cart | orderBy : 'product_id'">
        <div class="col-sm-2 image"><img ng-src="assets/{{ product.image }}" alt="" class="img-responsive"></div>
        <div class="col-sm-6"><a href="/things/thing/{{product.product_id}}">{{product.name}}</a></div>
        <div class="col-sm-2 centered">
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
          <a href ng-click="changeItemQuantity(product,'down')" class="glyphicon glyphicon-minus" ng-show="product.quantity > 1"></a>
         <!--  <a href ng-click="changeItemQuantity(product,'remove')" class="glyphicon glyphicon-remove" ng-show="product.quantity == 1"></a> -->
          </div>
          <div class="col-sm-2">{{product.quantity}}</div>
          <div class="col-sm-2"><a href ng-click="changeItemQuantity(product,'up')" class="glyphicon glyphicon-plus"></a></div>
          <div class="col-sm-3"></div>
        </div>
        <div class="col-sm-1 centered">{{product.total | currency}}</div>
        <div class="col-sm-1"> <a href ng-click="changeItemQuantity(product,'remove')" class="glyphicon glyphicon-trash"></a></div>
      </div>
    </div>
    <div class="row total">
      <div class="col-sm-2"></div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2 right-align">Sub Total</div>
      <div class="col-sm-1 sub-total centered">{{totalPrice | currency}}</div>
      <div class="col-sm-1"></div>
    </div>
    <div class="checkout flexbox-container">
      <button type="Submit" class="checkout" ng-click="checkout()">Checkout</button>
    </div>
</div>

  <div class="content" ng-show="current_cart.length == 0">
    <h1>Awe, your cart is empty. :-( Check out our store to add some lovely things!</h1>
  </div>
  </div>








<style type="text/css" media="screen">


  .centered {
    text-align: center;
    padding:0;
  }

  div.col-sm-2 {
    width:;
  }


  h6 {
    align-self: flex-start;
  }

  .product {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    border-bottom: 1px solid black;

  }

  div.product:first-child {
    border-top: 1px solid black;
  }

  .checkout {
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
  }

  .sub-total {
    padding-left: 0;
  }

  .total {
    margin-top: 2vh;
  }

  .headers {
    margin-bottom: 2vh;
  }

  .product img {
    height: 100px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  div.col-sm-2.image {
    padding: 0;
    margin: 0;
  }

  div.col-sm-5  {
    padding-left: 0;
  }


  button.checkout {
    display:block;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: black;
    color:white;
    border: none;
    height:50px;
    width: 150px;
    font-size: 1.5em;
  }

  .space {
    margin-left: 10px;
    margin-right: 10px;
    width:2vw;
  }

  .row {
    margin-right: unset;
  }
  div.checkout {
    padding-bottom: 10vh;
  }
</style>




