<div class="container ui-view main">
  <div class="flexbox-container cart-container">
    <div class="content cart" ng-show="current_cart.length > 0">
      <h5>Shopping Cart</h5>
      <div class="row headers">
        <div class="col-sm-2">Item</div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2 centered"><span class="left">Quantity</span></div>
        <div class="col-sm-1 centered">Price</div>
        <div class="col-sm-1"></div>
      </div>
      <div>
        <div class="row product flexbox-container" ng-repeat="product in current_cart | orderBy : 'product_id'">
          <div class="col-sm-3 product-image"><a href="/things/thing/{{product.product_id}}"><img ng-src="assets/products/{{ product.image }}" alt="" class="img-responsive"></a></div>
          <div class="col-sm-5"><a href="/things/thing/{{product.product_id}}">{{product.name}}</a></div>
          <div class="col-sm-2 centered">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
              <a href ng-click="changeItemQuantity(product,'down')" class="glyphicon glyphicon-minus" ng-show="product.quantity > 1"></a>
            </div>
            <div class="col-sm-2 ">{{product.quantity}}</div>
            <div class="col-sm-2"><a href ng-click="changeItemQuantity(product,'up')" class="glyphicon glyphicon-plus"></a></div>
            <div class="col-sm-3"></div>
          </div>
          <div class="col-sm-1 centered number-font">{{product.total | currency}}</div>
          <div class="col-sm-1"> <a href ng-click="changeItemQuantity(product,'remove')" class="glyphicon glyphicon-trash"></a></div>
        </div>
      </div>
      <div class="row total">
        <div class="col-sm-2"></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2 right-align"><b>Sub Total</b></div>
        <div class="col-sm-1 sub-total centered number-font">{{totalPrice | currency}}</div>
        <div class="col-sm-1"></div>
      </div>
      <div class="checkout flexbox-container">
 <!--        <button type="Submit" class="checkout" ng-click="checkout()">Checkout</button> -->
        <button href confirmed-click="clearCart()" id="clearCart" ng-confirm-click="Would you like to clear your cart?" class="checkout">Clear Cart</button>
      </div>
    </div>
    <div class="empty-cart" ng-show="current_cart.length == 0 || !current_cart">
      <h1>Shucks, your cart is empty! :-( <br>Check out our <a href="/things" title="Things">store</a> to add some lovely things!</h1>
      <button href confirmed-click="clearCart()" id="clearCart" ng-confirm-click="Would you like to reset your cart?" class="checkout">Reset Cart</button>
    </div>
  </div>
  
</div>



<style type="text/css" media="screen">

  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }


  .cart-container {
    margin-top: 5vh;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }



  .content.cart {
    width: 80%;
  }
  .centered {
    text-align: center;
    padding:0;
  }




  h6 {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .product {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    border-bottom: 1px solid black;

  }

  div.product:first-child {
    border-top: 1px solid black;
  }

  .checkout {
    margin-top: 3vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sub-total {
    padding-left: 0;
  }

  .total {
    margin-top: 2vh;
  }

  .headers {
    margin-bottom: 2vh;
  }

  .product img {
    max-height: 200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  div.col-sm-2.product-image {
    padding: 0;
    margin: 0;
  }

  div.col-sm-5  {
    padding-left: 0;
  }


  button.checkout {

    margin: 0 auto;

    background-image: none;
    background-color: black;
    color:white;
    border: none;

    font-size: 1.5em;
  }

  .space {
    margin-left: 10px;
    margin-right: 10px;
    width:2vw;
  }

  .row {
    margin-right: unset;
  }
  div.checkout {
    padding-bottom: 10vh;
  }

  .empty-cart {
    font-family: "GT-Walsheim";
    text-align: center;
  }
  .empty-cart a {
    font-weight: bold;
    color:black;
    text-decoration: none;
  }

  .checkout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button#clearCart {
    margin-top: 5vh;
    font-size: 1em;
  }

  button#clearCart:hover {
    background-color: red;
  }
  


</style>




