<div class="container ui-view main store">
  <div class="options flexbox-container">
    <button ng-click="resultOrder('name')">Sort by Name</button>
    <button ng-click="resultOrder('country')">Sort by Country</button>
    <button ng-click="resultOrder('price')">Sort by Price</button>
  </div> 
  <div class="content flexbox-container store-grid">
    <div ng-repeat="product in products | orderBy : orderBy | filter:search:strict">
      <div class="store-product flexbox-container centered">
        <a href="/things/thing/{{product.id}}" class=" item flexbox-container">
          <img ng-src="assets/{{ product.image || 'LensBox_1.jpg'}}" alt="" class="img-responsive">
          <h5>{{product.name}}</h5>
          <h5>{{product.country}}</h5>
          <h5>{{product.price | currency}}</h5>
        </a>
        <button href ng-click="addItemtoCart(product, 1)" type="">Add</button>
      </div>
    </div>
  </div>
  </div>


  <!-- <div class="options flexbox-container">
    <div class="name-search">
      <button ng-click="resultOrder('name')">Sort by Name</button>
      Name:<input ng-model="search.name">
    </div>
    <div class="country-search">
      <button ng-click="resultOrder('country')">Sort by Country</button>
      Country:<input ng-model="search.country">
    </div>
    <div class="price-search">
      <button ng-click="resultOrder('price')">Sort by Price</button>
      Category:<input ng-model="search.category">
    </div>
  </div>  -->

<style type="text/css" media="screen">

  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }



.store-grid.flexbox-container > div {
  width: 33%;

}

.flexbox-container > div:first-child {

}

.store {
  flex-direction: column;

}

.store .options.flexbox-container {
    width: 95%;
    margin-top: 4vh;
    margin-bottom: -8vh;
}

div.store-product {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5.5vh;

}

a.item {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


  div.store-grid {
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;

  }


  .store-product img {
    height:400px;
  }


  div.store {
    /*padding-bottom: 10vh;*/
  }

    button {
    /*display:block;*/
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: black;
    color:white;
    border: none;
    height:25px;
    width: 100px;
    font-size: 1em;
  }

  .options button {
    width:auto;
  }
 

</style>




