<div ui-view>
<table id="searchTextResults">
  <caption>Our Products:</caption>
  <thead>
    <tr>
      <th>ID:</th>
      <th></th>
      <th ng-click="resultOrder('name')">Name:</th>
      <th ng-click="resultOrder('price')">Price:</th>
      <th></th>
      <th ng-click="resultOrder('country')">Country:</th>
      <th></th>
      <th ng-click="resultOrder('category')">Category:</th>
      <th> </th> 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products | orderBy : orderBy | filter:search:strict">
      <td>{{product.id}}</td>
      <td></td> 
      <td> <a href="/store/product/{{product.id}}">Another</a>{{product.name}}</td> 
      <td>{{product.price | currency}}</td>
      <td></td>
      <td>{{product.country}}</td>
      <td></td>
      <td>{{product.category}}</td>
      <td></td> 
      <td><a href ng-click="addItemtoCart(product)">Add</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td> 
      <td>{{totalPrice | currency}}</td>
      <td></td>
      <td>{{totalItems}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
Search:   <input ng-model="search.$"><br>
Name:     <input ng-model="search.name"><br>
Country:  <input ng-model="search.country"><br>
Catergory:<input ng-model="search.category"><br>

</div>