<div class="container ui-view main">
<!-- <h1 ng-click="resultOrder('country')">Country:</h1> -->
  <div class="content flexbox-container store">
    <div ng-repeat="product in products | orderBy : orderBy | filter:search:strict">
      
      <div class="store-product flexbox-container centered">
        <a href="/things/thing/{{product.id}}" class=" item flexbox-container">
          <img ng-src="assets/{{ product.image }}" alt="" class="img-responsive">
          <h5>{{product.name}}</h5>
          <h5>{{product.price | currency}}</h5>
  <!--         <button href ng-click="addItemtoCart(product, 1)" type="">Add</button> -->
        </a>
      </div>
        
    </div>
  </div>
  </div>








<style type="text/css" media="screen">



.store.flexbox-container > div {
  width: 33%;

}

.flexbox-container > div:first-child {

}

div.store-product {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5.5vh;

}

a.item {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


  div.store {
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;

  }


  .store-product img {
    height:400px;
  }


  div.store {
    /*padding-bottom: 10vh;*/
  }
 

</style>




