<div class="container ui-view main">
  <div class="content flexbox-container">
    <div ng-repeat="product in products | orderBy : orderBy | filter:search:strict" class="store">
      <div class="product">
        <img ng-src="assets/{{ product.image || '//:0' }}" alt="" class="img-responsive">
        <h5><a href="/things/thing/{{product.id}}">{{product.name}}</a></h5>
        <h5>{{product.price | currency}}</h5>
        <button href ng-click="addItemtoCart(product, 1)" type="">Add</button>
        </div>
      </div>
    </div>
  </div> 
</div>







<style type="text/css" media="screen">

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /*overflow-y: auto;*/

}

.flexbox-container > div {
  width: 33%;

}

.flexbox-container > div:first-child {

}

div.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.main {
  display: flex;
  margin-top: 8vh;
  width:95%;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
}

  html {
    background-color: white !important;
  }

  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }



  div.content {
    width: 90%;
    margin-top:10vh;
    font-family: "GT-Walsheim";
    display: -webkit-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;

  }

  .product img {
    height:200px;
  }

  .product a {
    color:black;
  }
 

</style>




