<div class="container ui-view main store">
  <div class="search-module flexbox-container">
    <div class="search-content" >
      <form class="form-group flexbox-container search-input">

        <input name="search" class="form-control" placeholder="I'm looking for..." ng-model="search">
        <button ng-click="filterSearch = search" class="search-submit" type="reset">Search</button>

      </form>
      <div class="filter-options flexbox-container">
        <a href='#' ng-click="countryFilter={}; filterSearch = ''">All</a>
        <a href='#' ng-repeat="city in searchCities" ng-click="$parent.countryFilter={country:city.name}; select(city)" ng-class="{active: isActive(city)}"">{{city.name}}</a>
      </div> 
    </div>
  </div>

  <div class="content flexbox-container store-grid">
    <div ng-repeat="product in products | filter:countryFilter | filter:filterSearch:strict">
      <div class="store-product flexbox-container centered">
        <a href="/things/thing/{{product.id}}" class=" item flexbox-container">
          <img ng-src="assets/{{ product.image || 'LensBox_1.jpg'}}" alt="" class="img-responsive">
          <h5>{{product.name}}</h5>
          <h5 class="country-margin">{{product.country}}</h5>
          <h5 class="number-font">{{product.price | currency}}</h5>
        </a>
        <button href ng-click="addItemtoCart(product, 1)" type="">Add</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="screen">

a:hover {
  text-decoration: none;
}
.active {
  color: red;
}

  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }



  .store-grid.flexbox-container > div {
    width: 33%;

  }

  .flexbox-container > div:first-child {

  }

  .store {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }

  .store .options.flexbox-container {
    width: 95%;
    margin-top: 4vh;
    margin-bottom: -8vh;
  }

  div.store-product {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5.5vh;

  }

  a.item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }


  div.store-grid {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }


  .store-product img {
    max-height:400px;
  }




  button {
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: black;
    color:white;
    border: none;
    height:25px;
    width: 100px;
    font-size: 1em;
  }

  .options button {
    width:auto;
  }

  .country-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    div.store-grid {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

    }

    .store-grid.flexbox-container > div {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;

    }

  }

  /* SEARCH STYLES */

  div.search-module {

    width: 95%;
    margin-top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  div.search-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

  }


  .search-content button {
    display:block;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: black;
    color:white;
    border: none;
    height:35px;
    width: 100px;
    font-size: 1em;
    font-family: "GT-Walsheim";
  }

  p.acta {

    font-family: "ActaDeck-Book";
  }

  form.search-input {
    width: 25%;
  }

  input.form-control {
    border-radius: unset;
    margin-right: 1em;
    height:35px;
    width:100%;
    font-family: "GT-Walsheim";
    background-color: transparent;
  }

  .search-module .form-group {
    flex-direction:row;
  }

  .filter-options {
    margin-top: 2%;
    width:30%;
    flex-direction: row;
    justify-content: space-around;

  }

</style>




