@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: "ActaDeck-Book";
  src: font-url("ActaDeck-Book.otf"); }
  @font-face {
  font-family: "ActaDeck-Book-Italic";
  src: font-url("ActaDeck-Book-Italic.otf"); }
@font-face {
  font-family: "GT-Walsheim";
  src: font-url("GT-Walsheim.otf"); }

/* Blurb Styles */

    div.blurb-module {
      min-height:25vh;
      width: 95%;
      margin: 2.5% auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }


    div.blurb-module .blurb-content .blurb {
      font-family: "GT-Walsheim";
      font-size: 2em;
    }

    div.blurb-content {
      width: 60%;
      text-align: center;
    }

    p.blurb-attrib {
      font-family: "ActaDeck-Book";

    }

    /*General/Main styling*/

    html a:hover {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
html a:focus {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
html a.active {
  color: rgb(0, 0, 255);
}
html a {
  color:black;
  text-decoration: none;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}


  .main {
  display: flex;
  margin-top: 10vh;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  min-height:80vh;
  width: 95%;
}

  div.content {
    width: 95%;
    font-family: "GT-Walsheim";

  }



  .right-align {
    text-align: right;
  }

  .container {
    padding-right:0;
  }

  .number-font {
    font-family: "ActaDeck-Book";
  }

  /*Place Map View Styling*/

    div.place-show {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: unset;
    margin-bottom: unset;
    height: 100vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  div.place-content {
    width: 40%;
    text-align: center;
    font-family: "GT-Walsheim";
  }

