<div class="ui-view flexbox-container place-bubbles">
  <div class="search-module flexbox-container">
    <div class="search-content" >
      <form class="form-group flexbox-container search-input" ng-submit="filterSearch = search">

        <input name="search" class="form-control" placeholder="I'm looking for..." ng-model="search">
        <button ng-click="filterSearch = search" class="search-submit" type="reset">Search</button>

      </form>

      <div class="filter-options flexbox-container">
      <a href ng-click="categoryFilter={}; filterSearch = ''; select($this)">All</a>
        <a href ng-click="$parent.categoryFilter={category_id:1}">Dine</a>
        <a  href ng-click="$parent.categoryFilter={category_id:2}">Shop</a>
        <a  href ng-click="$parent.categoryFilter={category_id:3}">See</a>
      </div> 

    </div>
  </div>

  <div class="bubbles flexbox-container">

    <div class="flexbox-container bubble-box" ng-repeat="destination in destinations | orderBy: 'category_id' | filter:categoryFilter | filter:filterSearch:strict" >
      <div class="bubble" ng-style="{'background-image':'url(assets/destinations/{{name | lowercase}}/{{destination.image}})'}"><a href="{{destination.link}}" target="_blank"><div class="info"><h2>Visit</h2></div></a></div>
      <h3>{{destination.name}}</h3>
    </div>

  </div>
</div>




<style type="text/css">


  div.place-bubbles {
    margin-left: -.7vw;
    background-color: #ebebeb;
    align-items: center;
    justify-content: center;
    min-height:80vh;

  }

  div.bubble-container {
    width: 80%;
    flex-wrap: wrap;
  }

  div.place-bubbles {
    flex-direction: column;
  }

  body > div.pt-container.ng-scope > div > div:nth-child(2) > div {
    margin-top: unset;
  }


  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }

  div.bubbles {

    /*width: 100%;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:10vh;

  }

  div.bubble-box {

    width:23vw;
    /*    height: 22vw;*/
    margin:2%;
    flex-direction: column;
    align-items: center;
    font-family: "GT-Walsheim";

  }

  div.bubble {

    width:21vw;
    height: 21vw;
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

  }

  .bubble a {
    color: white
  }

  .bubble a:hover {
    color: white
  }

  .info {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  } 

  .bubble:hover .info {
    display: flex;
    background:rgba(0,0,255,.75);
    /*text-align:center;*/
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    height: 100%;
    width: 100%;
    border-radius: 50%;

  }

  .bubble:hover .info {
    opacity:1;}



    /* SEARCH STYLES */




    div.search-module {

      width: 95%;
      margin-top: 5%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }

    div.search-content {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

    }


    .search-content button {
      display:block;
      margin: 0 auto;
      text-align: center;
      background-image: none;
      background-color: black;
      color:white;
      border: none;
      height:35px;
      width: 100px;
      font-size: 1em;
      font-family: "GT-Walsheim";
    }

    p.acta {

      font-family: "ActaDeck-Book";
    }

    .search-input {
      width: 25%;
    }

    input.form-control {
      border-radius: unset;
      margin-right: 1em;
      height:35px;
      width:100%;
      font-family: "GT-Walsheim";
      background-color: transparent;
    }

    .search-module .form-group {
      flex-direction:row;
    }

    .filter-options {
      margin-top: 2%;
      width:30%;
      flex-direction: row;
      justify-content: space-around;

    }


  </style>

  <script type="text/javascript">

// var setSquareHeight;

// $(document).ready(function() {
//   setSquareHeight($('div .bubble'));

// })

// $(window).on('resize', function () {
//   setSquareHeight($('div .bubble'));

// });

// var setSquareHeight = function(element) {
//   $(element).height($(element).width());
// } 


</script>