<div ng-style="{'background':'url('+map+') no-repeat center center', 'background-size': 'cover'}" class="container ui-view flexbox-container place-show" >
<div class="place-content">
<h2>{{name}}</h2>
<p class="acta">{{blurb}}</p>
</div>
</div>

<style type="text/css">
  
/*  div.place-show {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: unset;
    margin-bottom: unset;
    height: 100vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  div.place-content {
    width: 40%;
    text-align: center;
    font-family: "GT-Walsheim";
  }
*/

</style>