<div ui-view class="place">
  <div ng-include="'places/place-map.html'"></div>
  <div ng-include="'home/place-bubbles.html'"></div>
  <div ng-include="'home/contact-module.html'"></div>
</div>

<style type="text/css" media="screen">
  footer.footer.ng-scope {
    margin-top: 0;
  }
</style>
