<div ng-include="'home/_navbar.html'"></div>
<div ui-view class="pt-container"></div>
<div ng-controller="HomeCtrl"><div ng-include="'home/_contact-module.html'"></div></div>
<div ng-include="'home/_footer.html'"></div>
