<div ng-include="'home/navbar.html'"></div>

  <div ui-view class="pt-container"></div>


<style type="text/css" media="screen">

  .navbar-brand.title a{
    color: black;
  }
  .navbar-default .navbar-nav>li>a {
    color: black;
  }


  .flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}


  .main {
  display: flex;
  margin-top: 8vh;
  width:95%;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  min-height:90vh;
}

  div.content {
    width: 95%;
    margin-top:10vh;
    font-family: "GT-Walsheim";


  }

  .content a {
    text-decoration: none;
    color: black;
  }

  .right-align {
    text-align: right;
  }

  .container {
    padding-right:0;
  }

/*  .pt-container {
    margin-top: 5vh;
    margin-bottom:5vh;
  }*/


</style>