<!DOCTYPE html>
<html>
  <head>
    <title>PlacesAndThings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <base href="/">
  </head>

  <body ng-app="PlacesAndThings">
    <%= yield %>
  </body>
</html>

<style type="text/css" media="screen">

/*html a:hover {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
html a:focus {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
html a.active {
  color: rgb(0, 0, 255);
}
html a {
  color:black;
  text-decoration: none;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}


  .main {
  display: flex;
  margin-top: 10vh;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  min-height:80vh;
  width: 95%;
}

  div.content {
    width: 95%;
    font-family: "GT-Walsheim";

  }



  .right-align {
    text-align: right;
  }

  .container {
    padding-right:0;
  }

  .number-font {
    font-family: "ActaDeck-Book";
  }
*/


   
</style>

